<!DOCTYPE html>
<html>
	<head>
		<title>Internet Clipboard</title>
		<link rel="stylesheet" href="https://pagecdn.io/lib/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/app.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="code icon"></i><a href="/">Internet Clipboard</a></div>
					<a href="/blogs" class="item">Your clips</a>
					<a href="/blogs/new" class="item"><i style="margin:auto" class="plus square icon" href="/new"></i></a>
			</div>
		</div>