<!DOCTYPE html>
<html>
	<head>
		<title>Internet Clipboard</title>
		<link rel="stylesheet" href="https://pagecdn.io/lib/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/app.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css" rel="stylesheet">
	</head>
<h1>
	
</h1>
<h1>
	
</h1>

<div>
	<h1 style="text-align: center;"><strong>Internet Clipboard</strong></h1>
	<p style="text-align: center;"><strong>The new way to copy-paste</strong></p>
	<a style="display: block; margin-left: auto; margin-right: auto; width: 40%;" class="ui button" href="/blogs">Get Started</a>
</div>
<%- include("partials/footer.ejs")%>